# Skopiuj ten plik do ~/.config/ikea-okazje.env i wypelnij, potem:
#   chmod 600 ~/.config/ikea-okazje.env

SMTP_USER='twoj_email@gmail.com'
SMTP_PASS='haslo_aplikacji_16_znakow'
EMAIL_TO='twoj_email@gmail.com'

# Potrzebne tylko dla SMTP_MODE = "local587" lub "exim", jesli Twoj
# lokalny serwer pocztowy nie nazywa sie "localhost":
# SMTP_HOST='twoja-domena.pl'
